@import 'functions';
@mixin primary-transition() {
    -moz-transition: transform cubic-bezier(.25, .8, .25, 1) .5s;
    -o-transition: transform cubic-bezier(.25, .8, .25, 1) .5s;
    -webkit-transition: transform cubic-bezier(.25, .8, .25, 1) .5s;
    transition: transform cubic-bezier(.25, .8, .25, 1) .5s;
    -moz-transition-property: background-color, box-shadow, transform;
    -o-transition-property: background-color, box-shadow, transform;
    -webkit-transition-property: background-color, box-shadow, transform;
    transition-property: background-color, box-shadow, transform;
}

@mixin font-size($sizeValue: 16) {
    font-size: ($sizeValue * 1) + px !important;
    //font-size: $sizeValue/10 + rem !important;
}

@mixin container-size($w: 100%, $h: null, $restrain: null, $value: null) {
    @if($restrain) {
        @if($w < $value) {
            width: 100%;
        }
        @else {
            width: $w;
        }
    }
    @else {
        @if ($h) {
            width: $w;
            height: $h;
        }
        @else {
            width: $w;
        }
    }
}

@mixin height($font) {
    height: calculateHeight($font) + px;
}

@mixin vertical-align($position: relative) {
    position: $position;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}

@mixin animation($str) {
    -webkit-animation: #{$str};
    -moz-animation: #{$str};
    -ms-animation: #{$str};
    -o-animation: #{$str};
    animation: #{$str};
}

@mixin transition($args...) {
    -webkit-transition: $args;
    -moz-transition: $args;
    -ms-transition: $args;
    -o-transition: $args;
    transition: $args;
}


/**@include transition(color .3s ease);*/

@mixin opacity($opacity, $important: null) {
    @if($important) {
        opacity: $opacity unquote($important);
        $opacity-ie: $opacity * 100 unquote($important);
        filter: alpha(opacity=$opacity-ie) unquote($important); //IE8
    }
    @else {
        opacity: $opacity;
        $opacity-ie: $opacity * 100;
        filter: alpha(opacity=$opacity-ie); //IE8
    }
}

@mixin transparentGradient($color) {
    background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.2), $color);
    background-image: -moz-linear-gradient(top, rgba(255, 255, 255, 0.2), $color);
    background-image: -ms-linear-gradient(top, rgba(255, 255, 255, 0.2), $color);
    background-image: -o-linear-gradient(top, rgba(255, 255, 255, 0.2), $color);
    -ms-filter: progid: DXImageTransform.Microsoft.Gradient( startColorStr='rgba(255, 255, 255, 0.1)', /*Start color*/
    endColorStr=$color, /*End color*/
    GradientType=0);
    /*0=Vertical, 1=Horizontal gradient*/
    background-image: linear-gradient(top, rgba(255, 255, 255, 0.2), $color);
}

@mixin rounded-corner($arc) {
    -moz-border-radius: $arc;
    -webkit-border-radius: $arc;
    border-radius: $arc;
}

@mixin btn-background($btn-background, $btn-active: null) {
    background-color: $btn-background;
    @extend %bgPos;
    &:hover,
    &:active,
    &:focus,
    &:active:focus {
        @if ($btn-active) {
            background-color: $btn-active;
            border-color: $btn-active;
        }
        @else {
            background-color: darken($btn-background, 10%);
            border-color: darken($btn-background, 10%);
        }
        outline: none;
    }
    &:active {
        box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
    }
}

@mixin bp-medium-height {
    @media (max-height: 768px) {
        @content;
    }
}

@mixin bp-large-max-1366 {
    @media (max-width: 1366px) {
        @content;
    }
}

@mixin bp-extra-large-special {
    @media (min-width: 1367px) {
        @content;
    }
}

@mixin bp-special {
    @media (min-width: 1200px) {
        @content;
    }
}

@mixin bp-extra-large {
    @media (max-width: 1199px) {
        @content;
    }
}

@mixin bp-large {
    @media (max-width: 991px) {
        @content;
    }
}

@mixin bp-large-special {
    @media (min-width: 991px) {
        @content;
    }
}

@mixin bp-medium-special {
    @media (min-width: 768px) {
        @content;
    }
}

@mixin bp-medium {
    @media (max-width: 767px) {
        @content;
    }
}

@mixin bp-extra-medium {
    @media (max-width: 664px) {
        @content;
    }
}

@mixin bp-small {
    @media (max-width: 479px) {
        @content;
    }
}

@mixin bp-small-exception {
    @media (max-width: 410px) {
        @content;
    }
}

@mixin bp-extra-small {
    @media (max-width: 390px) {
        @content;
    }
}